 body{
    margin: 0;
    width: 100%;
    height: 100vh;
}
 
:root{
  --primary-color: #fff;
}


#background{
    background-image: url(../img/a7d55efa-6f69-460c-9981-f0041c8c586b\ 1.svg);
    background-size: cover;
    width: 100%;
    height: 499px;  
    background-repeat: no-repeat;

}
.effect{
    position: absolute;
    width: 100%;
    height: 480px;
    left: 0px;
    top: 82px;
    display: flex;
    background: linear-gradient(360deg, rgba(30, 8, 162, 0.4) 10.05%, rgba(30, 8, 162, 0) 95.59%);
}
.effectbox{
    box-sizing: border-box;   
    border-right: 1px solid #84B6F4;
}
.waves img{
    position: absolute;
    top: 23rem;
    display: flex;   
    width: 100%;
    height: 40vh;
    flex-flow: column wrap;
    justify-content: center;
    
}

.waves-second img {
    position: absolute;
    left: 0;
    right: 0;
    top: 55rem;
    display: flex;
    width: 100%;
    height: auto;

}
.priv{
    position: relative;

}

.modal-footer-test{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.main{
    text-align: center;
}
.text-pricipal h1{
    display: flex;
    text-align: center;
    top: 30%;
    position: relative;
    max-width: 100%;
    height: auto;
    color: white;
    font-size: 60px;
    flex-flow: column;
}
.space{
    margin: 10px;
    
}
.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .intro-img img {
    max-width: 100%;
    height: auto;
  }
  .intro-text-content  h2  {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    position: relative;
  }
  .icon-content {
    position: relative;
  }

  .form-effect{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .position-lab{
    margin-top: 60px;
    text-align: initial;
  }

  .effectbox-pass{
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 82px;
    display: flex;
    background: linear-gradient(360deg, rgba(30, 8, 162, 0.4) 10.05%, rgba(30, 8, 162, 0) 95.59%);
  }

  .filter-content{
    box-sizing: border-box;
    border-bottom: 1px solid #8BBAF5;

  }

  .column-content{
    height: 200px;
  }

  .modal-content{
    background: linear-gradient(0deg, rgba(10, 59, 184, 0.4), rgba(10, 59, 184, 0.4)), linear-gradient(180deg, #38B8E0 28.32%, rgba(110, 197, 246, 0) 100%);
    background-blend-mode: normal, screen;
    border-radius: 40px;
    
  }
  .modal-content h1  {
    color: #ffff;
    text-align: center;
    margin-left: 200px;
    font-size: 25px;
  }
  .button-size a{
  width: 100%;
  }

  .form-effect{
    border: #84B6F4;
  }
 .your-img-effect{
  background: #D9D9D9;
  border-radius: 15px;
  width: 231px; 
  height: 143px;
  margin-left: 15px;
 }
 .your-img-effect h2{
  height: 140px;
  margin-bottom: 0px;
  top: 3rem;
  position: relative;
  font-size: 20px;
 }

 .box-effect{
  border: 1px solid #8BBAF5;
  border-radius: 15px;
  margin-bottom: 30px;
 }

 .img-effect{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 82px;
    display: flex;
    background: linear-gradient(360deg, rgba(30, 8, 162, 0.4) 10.05%, rgba(30, 8, 162, 0) 95.59%);
 }

 #background-pass{
  background-image: url(../img/jacare.svg);
  background-size: cover;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;

}
#background-hotel{
  background-image: url(../img/Group\ 7.svg);
  background-size: cover;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;

}
#background-bar{
  background-image: url(../img/Group\ 8.svg);
  background-size: cover;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;

}