 body{
    margin: 0;
    width: 100%;
    height: 100vh;
}
 


#background{
    background-image: url(../img/a7d55efa-6f69-460c-9981-f0041c8c586b\ 1.svg);
    background-size: cover;
    width: 100%;
    height: 499px;  
    background-repeat: no-repeat;

}
.effect{
    position: absolute;
    width: 100%;
    height: 480px;
    left: 0px;
    top: 82px;
    display: flex;
    background: linear-gradient(360deg, rgba(30, 8, 162, 0.4) 10.05%, rgba(30, 8, 162, 0) 95.59%);
}
.effectbox{
    box-sizing: border-box;   
    border-right: 1px solid #84B6F4;
}
.waves img{
    position: absolute;
    top: 23rem;
    display: flex;   
    width: 100%;
    height: 40vh;
    
}

.waves-second img {
    position: absolute;
    left: 0;
    right: 0;
    top: 55rem;
    display: flex;
    width: 100%;
    height: auto;

}
.priv{
    position: relative;

}

.modal-footer-test{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.main{
    text-align: center;
}
.text-pricipal h1{
    display: flex;
    text-align: center;
    top: 30%;
    position: relative;
    max-width: 100%;
    height: auto;
    color: white;
    font-size: 60px;
    flex-flow: column;
}
.space{
    margin: 10px;
    
}
.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .intro-img img {
    max-width: 100%;
    height: auto;
  }
  .intro-text-content  h2  {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    position: relative;
  }
  .icon-content {
    position: relative;
  }